@media screen and (max-width: 1024px) {
    nav {
        display: none;
    }

    .burger {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 0;
    }

    .leftHeader {
        width: 100%;
        justify-content: center;
        position: relative;
    }

    .title {
        position: static;
        transform: none;
        text-align: center;
    }

    .title h3 {
        font-size: 24px;
    }

    .hairExperts {
      flex-direction: column;
      height: auto;
    }
  
    .left,
    .right {
      width: 100%;
    }
  
    .right {
      height: 400px;
      background-attachment: scroll;
      order: -1;
    }
  
    .left {
      padding: 40px 20px;
      gap: 30px;
    }
  
    .up {
      width: 100%;
    }
  
    .down button {
      width: 50%;
    }

    .contUp {
      background-attachment: scroll;
    }
  
    .bookCircle {
      width: 400px;
      height: 500px;
    }
  
    .circleUp {
      margin-top: 80px;
    }
  
    .circleUp span {
      font-size: 40px;
    }
  
    .circleUp p {
      font-size: 20px;
      padding: 0px 70px;
    }
}

@media (max-width: 900px) {
    .galleryTitle h2 {
        font-size: 24px;
    }

    .galleryTitle p {
        font-size: 15px;
    }

    .overlay p {
        font-size: 16px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .upMain h1 {
        font-size: 120px;
    }

    .upMain p {
        font-size: 14px;
        width: 70%;
    }

    .mainImg {
        height: 450px;
        border-top-left-radius: 50% 60%;
        border-top-right-radius: 50% 60%;
    }

    .galleryContainer {
        width: 90%;
        gap: 8px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .galleryTitle h2 {
        font-size: 22px;
    }

    .galleryTitle p {
        font-size: 14px;
    }

    /* .right {
      height: 300px;
    }
  
    .up h2 {
      font-size: 24px;
    }
  
    .up p {
      font-size: 16px;
    }
  
    .down button {
      width: 80%;
    }

    .bookCircle {
      width: 350px;
      height: 450px;
    }
  
    .circleUp {
      margin-top: 60px;
    }
  
    .circleUp span {
      font-size: 35px;
    }
  
    .circleUp p {
      font-size: 18px;
      padding: 0px 50px;
    }
  
    .circleDown p {
      padding: 0px 50px;
    } */
}


@media screen and (max-width: 490px) {
    .galleryContainer {
        width: 100%;
        padding: 0 10px;
        gap: 5px;
    }

    .galleryItem {
        width: 100%;
    }

    .galleryImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .galleryTitle h2 {
        font-size: 18px;
        text-align: center;
    }

    .galleryTitle p {
        font-size: 12px;
        text-align: center;
    }

    .upMain h1 {
        font-size: 60px;
    }

    .upMain p {
        font-size: 12px;
        width: 100%;
    }

    .mainImg {
        height: 250px;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
    }

    .upMain{
        margin-top: 100px;
    }

        .right {
      height: 250px;
    }
  
    .up {
      gap: 30px;
    }
  
    .up p {
      font-size: 14px;
    }
  
    .down button {
      width: 100%;
      font-size: 15px;
    }

    .bookCircle {
      width: 300px;
      height: 400px;
    }
  
    .circleUp {
      margin-top: 40px;
    }
  
    .circleUp span {
      font-size: 30px;
    }
  
    .circleUp p {
      font-size: 16px;
      padding: 0px 30px;
    }
  
    .circleDown {
      gap: 20px;
      padding: 20px 0px;
    }
  
    .circleDown p {
      padding: 0px 30px;
      font-size: 14px;
    }
  
    .circleDown button {
      font-size: 22px;
    }
}
